.icon1, .icon2, .icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1 img {
    width: 40px;
    height: 35px;
    margin: 30px 0px;
    padding: 0;
}

.icon2 img {
    width: 50px;
    height: 45px;
    margin: 15px 0px;
}

.icon3 img {
    width: 50px;
    height: 45px;
    margin: 20px 0px;
}

.cancelAdd {
    border: none !important;
    background-color: #f24f8a !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    width: 30% !important;
}

.addModal {
    border: none !important;
  background-color: #57cad5 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #ffffff !important;
  border-radius: 10px !important;
  width: 30% !important;
}